  <html>
    <body>
    <h1> form example </h1>
    <span> {{some}} </span>
        <form method="post" action='/submit?paramviaurl=SOMETHING'>
            <input type="text" name="field"> <br/>
            <input type="file" name="image"> <br/>
            <input type="color" name="color"> <br/>
            <input type="date" name="dte"> <br/>
            <input type="submit" value="submit"> <br/>
         </form>
    </body>
</html>
 