<html> 
    <body>
    <form method='post' action='/users/{{uid}}/modify'>
        <br/> requested details for user: {{uid}}
        <br/> name is: 
            <input type='text' 
                name='name' 
                value='{{username}}'>
        <br/> <input type='submit' value='update'>
        </form>
    </body>
</html>
