<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% if(!user.id){ %>
  <form action="/api/users" method="post" enctype="application/x-www-form-urlencoded">  
  <% } else{ %>  
  <form action="/api/users?_method=PUT" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" value="<%= user.id %>" name="id">
  <% } %>
    <div>
      <label>Name</label>
      <input type="text" value="<%= user.name %>" name="name">
    </div>
    <div>
      <label>Age</label>
      <input type="text" value="<%= user.age %>" name="age">
    </div>
    <button type="submit">Save</button>
  </form>
</body>
</html>